.error-message {
    width: auto;
    height: auto;
    left: 0px;
    top: 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    display: inline-flex;
    opacity: 1;
  }

  .error-message__hidden {
    opacity: 0;
  }